.casillaLet{
    border: 2px solid black;
    width: 331PX;
    height: 20px;
}
.h1F{
    color: blue;
}
.btnEspacio{
    border: 2px solid black;
    width: 320PX;
    text-align: center;
}
.btnEnter{
    border: 2px solid black;
}
